<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name = "org.opencds.cqf.cql.engine.debug" level="DEBUG"/>
	<logger name="ca.uhn.fhir.jpa.starter.common.BlockMeasureReportPublisherService" level="WARN"/>
	<logger name="ca.uhn.fhir.jpa.starter.cdss.ScheduledVitalSignAggregationService" level="WARN"/>
	<logger name="ca.uhn.fhir.jpa.starter.cdss.VitalSignHistoryService" level="WARN"/>
	<logger name="ca.uhn.fhir.jpa.starter.common.VitalSignAggregationService" level="WARN"/>
</configuration>
